.CoverLetter {
  position:relative;
  width: 600px;
  height: 700px;
  border: 2px solid #c3c3c3;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #c3c3c38e;
  background-color: #e8ebee;
  /* position: fixed;
  position: relative;
  /* display: flex; */
}

.Content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  /* position: absolute; */
  right: 150px;
  /* padding: 12px; */
}

.Content button {
  position: absolute;
  background: #dee2e6;
  bottom: 0;
  width: 100%;
  padding: 15px;
  border: none;
  transition: background-color 0.5s ease;
}

.Content p {
  /* height: 100%; */
  padding: 32px;
  margin-bottom: 12px;
}

.Content button:hover {
  transition: 1;
  background: #1c7ed6;
  color: white;
}

.Heading {
  border-bottom: 2px solid #c3c3c3;
  border-radius: 0;
  color: #292929;
  background-color: #e8ebee;
}